body {
  /*Colocando imagen de fondo*/
  background-image: url('./img/fondos/FONDO2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
